20401
EDBC8700
00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
stickman.hu
/serverinterfaced.php
/serverinterfaceu.php
Admin,Hector,Bolint99
abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890áéíóöõúüûÁÉÍÓÖÕÚÜÛ{}[]()_-:|=;*
abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz1234567890áéíóöõúüûáéíóöõúüû{}[]()_-:|=;*
kurva,kúrva,kúrvá,kurwa,kurvá,kruva,buzi,fasz,fazs,köcsög,kocsog,pöcs,buzeráns,picsa,picsá,pina,punci,ribanc,seggfej,szar,bazmeg,bazdmeg,geci,fass,segg,szopás,szpás,bazki,asshole,fuck,fakk,kretén,zsidó,qrva,shit,kibaszott,fász,baszki,bassz,lagg
tulipán,rózsa,margaréta,ibolya,pitypang,hóvirág,pipacs,liliom,szegfû,nárcisz,jácint,kardvirág,fikusz,árvácska,kikerics,krókusz,jázmin,nõszirom,begónia,fukszia,muskátli,kankalin,leander,magnólia,petúnia,orchidea,dália,hóvirág,írisz,kankalin,tátika,viola,hajnalka
