20104
29FC298F
01 02 03 04 05 06 07 08 09 0a 0b 0c 0d 0e 0f 10 11 12 13 14
stickman.hu
/webinterface.php?mode=down
/webinterface.php?mode=up&lastupdate=%lu
abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890áéíóöõúüûÁÉÍÓÖÕÚÜÛ{}[]()_-:|=;*
abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz1234567890áéíóöõúüûáéíóöõúüû{}[]()_-:|=;*
kurva,kúrva,kúrvá,kurwa,kurvá,kruva,buzi,fasz,fazs,köcsög,kocsog,pöcs,buzeráns,picsa,picsá,pina,punci,ribanc,seggfej,szar,bazmeg,bazdmeg,geci,fass,segg,szopás,szpás,bazki,asshole,fuck,fakk,kretén,zsidó,qrva,shit,kibaszott,fász,baszki,bassz,lagg
tulipán,rózsa,margaréta,ibolya,pitypang,hóvirág,pipacs,liliom,szegfû,nárcisz,jácint,kardvirág,fikusz,árvácska,kikerics,krókusz,jázmin,nõszirom,begónia,fukszia,muskátli,kankalin,leander,magnólia,petúnia,orchidea,dália,hóvirág,írisz,kankalin,tátika,viola,hajnalka
